* {
    margin: 0px;
    padding: 0px;
}
.contact-list {
width: 80%;
max-width: 1024px;
margin: 0px auto;
border: 3px solid black;
}
.contact-list-header {

}

.contact-list-content {

}
.contact-list-footer {

}
.contact-list-table {
   
}

    .contact-list-table th {
        text-align: center;
        padding: 5px;
        width: 20%;
    }
    .contact-list-table td {
        text-align: center;
        width: 20%;
        align-content: space-between;
        flex-direction: column;
        padding: 5px;
    }
